#logo{
    width: 800px;
    height: 100px;
}
#noticias{
    width: 260px;
    height: 150px;
}
#imgdireita{
    width: 170px;
    height: 140px;
}
#logo2{
    width: 400px;
    height: 150px;
}